<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Let's Play!</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-responsive.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" />
</head>
<body>
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/json2.js') }}"></script>
  <script src="{{ url_for('static', filename='js/underscore.js') }}"></script>
  <script src="{{ url_for('static', filename='js/backbone.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.watermark.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.data.js') }}"></script>

  <script src="{{ url_for('static', filename='js/letsplay.js') }}"></script>
</body>
</html>
