.lefty {
  float:left;
  margin:4px 4px 4px 4px;
  min-width:150px;
  min-height:64px;
}
.righty{
  float:right;
  margin:4px 4px 4px 4px;
  min-width:150px;
  min-height:64px;
}
.ambidex{
  float:none;
}
.wrap_content {
  width:auto !important;
  min-width:0px;
}
.steamify{
  color:#FFF;
  background:linear-gradient(#CCC, #000);
  border-radius: 15px;
  overflow:hidden;
  padding:10px 10px 10px 10px;
  display:inline-block;
}
.outline{
  border:4px ridge #CCC;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  overflow:auto;
}

.fill_gray{
  background-color:#DDD;
}
