body{
  color:#ecf0f1;
  background-color: #222;
}

.lefty {
  float:left;
  margin-left:4px;
  margin-top:2px;
  min-width:150px;
  min-height:64px;
}
.righty{
  float:right;
  margin-right:4px;
  margin-top:4px;
  min-width:150px;
  min-height:64px;
}
.ambidex{
  width:100px;
  float:none;
  clear:both;
}
.wrap_content {
  width:auto !important;
  min-width:0px;
}
.steamify{
  overflow:hidden;
  padding:10px 10px 10px 10px;
  display:inline-block;
}

.bordered{
  border-radius: 15px;
  border-style:solid;
  border-width:4px;
  border-color: #27ae60;
  background-color: #444;
}

.outline{
  overflow:auto;
}

.centered {
  text-align:center;
  margin: 5px;
}

.hidden{
  display:none;
  width:0px !important;
  height:0px !important;
}

button, input {
  color: #ecf0f1;
  background-color: #444;
  border: 1px solid #2980b9;
  padding: 10px;
}
